
<!-- <button>
  <span> GAME ON
  </span>
</button> -->


<!-- app.component.html -->
<div class="flex justify-center items-center h-screen" *ngIf="!IsLoadingStarted && !IsGameStarted">
  <button class="bg-cyan-500 hover:bg-cyan-600   text-white font-bold py-4 px-4 rounded" (click)="StartLoading()">
    GAME ON
  </button>
</div>
<div class="flex justify-center items-center h-screen" *ngIf="IsLoadingStarted && !IsGameStarted">
  <div class="font-bold">
    <p class="font-mono text-3xl">The quick brown fox ...</p>
  </div>
</div>
<div class="flex justify-center items-center h-screen" *ngIf="IsGameStarted">
  <div class="font-bold">
    <p class="font-mono text-3xl"> {{data.setup}} </p>
  </div>
  <div class="font-bold">
    <p class="font-mono text-3xl"> {{data.punchline}} </p>
  </div>
 <div>
  <button *ngIf="data" class="bg-cyan-500 hover:bg-cyan-600   text-white font-bold py-4 px-4 rounded" (click)="StartLoading()">
    next
   </button>
 </div>
</div>



<div *ngIf="false" class="container row">
  <app-question></app-question>
</div>
<div *ngIf="false" class="container row">
  <app-answer></app-answer>
</div>