<!-- <button>
  <span> GAME ON
  </span>
</button> -->


<!-- app.component.html -->
<div class="flex justify-center items-center h-screen" *ngIf="!IsLoadingStarted && !IsGameStarted">
  <button class="bg-cyan-500 hover:bg-cyan-600   text-white font-bold py-4 px-4 rounded" (click)="StartLoading()">
    GAME ON
  </button>

</div>
<!-- <div class="flex justify-center items-center h-screen" *ngIf="IsLoadingStarted && !IsGameStarted">
  <div class="font-bold">
    <p class="font-mono text-3xl">The quick brown fox ...</p>
  </div>
</div> -->
<!-- <div class="loader"></div> -->

<div class="flex justify-center items-center h-screen" *ngIf="IsGameStarted && data">

  <div class="card">
    <h5 class="card-header">Category : {{data.type}}</h5>
    <div class="card-body">
      <h5 class="card-title font-mono">{{data.setup}}</h5>
      <!-- <div class="loader text-center" *ngIf="!showPunchLine"></div> -->
      <p class="card-text font-mono" *ngIf="showPunchLine ">{{data.punchline}}</p>
      <a href="#" *ngIf="!showPunchLine" class="btn btn-primary mx-3 my-4" (click)="loadAnswer()">Answer</a> 
      <a href="#" class="btn btn-primary" (click)="fetchdata()">Next</a>
    </div>
  </div>
</div>



<div *ngIf="false" class="container row">
  <app-question></app-question>
</div>
<div *ngIf="false" class="container row">
  <app-answer></app-answer>
</div>